@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
        --font2:'Sriracha', cursive;
        --font3:'Passion One', cursive;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color:#fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size:3em
}

header > p{
    padding-bottom: 50px;
}
a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 1.2em;
}
.normal{
    background-color:#fff;
    color:rgb(0, 0, 0);
}
.imagem{
    background-color:gray;
    color:#fff;

}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.205);
    width:400px;
}
footer{
    background-color:black;
    color:#fff;
    text-align: center;
    padding:10px
}